<% layout('boilerplate4') %>

<div class="container"style="margin-top:10%">
<div class="row">
  <div class="col-lg-6 col-md-offset-3 ecx">

    <h1>Add Language</h1>
    <form method="post">
      <div class="form-group">
        <label for="name">Title:</label>
        <input type="text" class="form-control" name="title">
      </div>

     
      <button type="submit" class="btn btn-success btnsub"><i class="fa fa-fw fa-check"aria-hidden="true"></i></button>

    </form>
</div>
</div>
</div>
