<% layout('boilerplate4' ) %>
    <div class="mydash">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="rad-info-box rad-txt-success">
            <i class="fa fa-book"></i>
            <span class="heading">Cources</span>
            <span class="value"><span>12</span></span>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="rad-info-box rad-txt-primary">
            <i class="fa fa-graduation-cap"></i>
            <span class="heading">Teachers</span>
            <span class="value"><span>1</span></span>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="rad-info-box rad-txt-danger">
            <i class="fa fa-users"></i>
            <span class="heading">Learners</span>
            <span class="value"><span></span></span>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="rad-info-box">
            <i class="fa fa-money"></i>
            <span class="heading">Revenue</span>
            <span class="value"><span>10.9K</span></span>
          </div>
        </div>
      </div>
    </div>
 