<% layout('boilerplate2') %>

<div class="container"style="margin-top:10%">
<div class="row">
  <div class="col-lg-6 col-md-offset-3 ecx">

    <h1>Edit Categories</h1>
    <form role="form" method="post">
      <div class="form-group">
      <p>conform delete</p>

      

      

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
</div>
</div>
