<% layout('boilerplate4') %>
<script type="text/javascript">!function(t,e){"use strict";var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0],a=e.createElement("script");a.setAttribute("type","text/javascript"),a.setAttribute("src",t),r.appendChild(a)}catch(t){}};t.CollectId = "5adbd5584b309d9bbd037153"}(window,document);</script>
<div class="container"style='min-height: 75px;background-color:transparent !important;text-shadow: black 0.3em 0.3em 0.3em;color: white;background:transparent;'>
  <p class="text-center">
    <h2 class="text-center">Learners</h2>
  </p>
</div>

<section class="mytablex">
  <!--for demo wrap-->

  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>

        </tr>
      </thead>
    </table>
  </div>
  
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% for (var i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].profile.name%></td>
          <td><%= users[i].email %></td>
        </tr>

        <% } %>
      </tbody>
    </table>
  </div>
 
</section>

