<div class='swanky'>
  <!-- / Introduction Block -->

  <!-- /////////// Begin Dropdown //////////// -->
  <div class='swanky_wrapper'>
    <input id='Dashboard' name='radio' type='radio'>
    <label for='Dashboard'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/dash.png'>
      <span><a href="/dashboard">Dashboard</a></span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
		  <li><a href="/course">Courses</a></li>
          <!-- <li><a href="/revenue-report">Revenue report</a></li> -->
          <li><a href="/">Admin Profile</a></li>
        </ul>
      </div>
    </label>
	    <input id='Users' name='radio' type='radio'>
    <label for='Users'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/users.png'>
      <span>Users</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li><a href="/users">All Users</a></li>
          <li><a href="/student">Learners</a></li>
          <li><a href="/teachers">Teachers</a></li>
        </ul>
      </div>
    </label>
    <input id='Sales' name='radio' type='radio'>
    <label for='Sales'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/del.png'>
      <span>categories</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
         <li><a href="/categories">view categories</a></li>
         <li><a href="/admin/create-category">add categories</a></li>
        </ul>
      </div>
    </label>
    <input id='Messages' name='radio' type='radio'>
    <label for='Messages'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mess.png'>
      <span> Feild of study</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
                  <li><a href="/fos">view fos</a></li>
                  <li><a href="/admin/create-fos">add fos</a></li>
        </ul>
      </div>
    </label>
    <input id='Lang' name='radio' type='radio'>
    <label for='Lang'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mess.png'>
      <span> Language</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
                  <li><a href="/language">view language</a></li>
                  <li><a href="/admin/create-lang">add language</a></li>
        </ul>
      </div>
    </label>
	    <input id='Settings' radio='radio' type='radio'>
    <label for='Settings'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/set.png'>
      <span>Settings</span>
      <div class='lil_arrow'></div>
      <div class='swanky_wrapper__content'>
        <ul>
<!-- 
          <li><a href="/editadmin"></a>Change Password</li> -->
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div> 
    </label>


  </div>
  <!-- /////////// End Dropdown //////////// -->
</div>
  