<% layout('boilerplate6') %>

<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-offset-3 ecx">

    <h1>Create Profile</h1>
    <form role="form" method="post">
      <div class="form-group">
        <label for="name">Firstname:</label>
        <input type="text" class="form-control" name="firstname" required>
      </div>

      <div class="form-group">
        <label for="name">Lastname:</label>
        <input type="text" class="form-control" name="lastname" required>
      </div>

      <div class="form-group">
        <label for="name">Bio:</label>
        <input type="text" class="form-control" name="bio" required>
      </div>
      <div class="form-group">
        <label for="name">City:</label>
        <input type="text" class="form-control" name="city" required>
      </div>
      <div class="form-group">
        <label for="name">Skills:</label>
        <input type="text" class="form-control" name="skills">
      </div>

    <div class="form-group">
        <label for="name">Profession:</label>
    <select name="profession"  class="form-control" placeholder="Select professional status">
      <option value="senior developer">Senior developer</option>
      <option value="junior developer">Junior developer</option>
      <option value="manager">Manager</option>
      <option value="student">Student</option>
      <option value="teacher">Teacher</option>
      <option value="intern">Intern</option>
      <option value="other">Other</option>
  </select>
    </div>
    <div class="form-group">
      <label for="name">Facebook:</label>
      <input type="text" class="form-control" name="facebook">
    </div>
    <div class="form-group">
      <label for="name">Twitter:</label>
      <input type="text" class="form-control" name="twitter">
    </div>
    <div class="form-group">
      <label for="name">Instagram:</label>
      <input type="text" class="form-control" name="instagram">
    </div>
    <div class="form-group">
      <label for="name">LinkedIn:</label>
      <input type="text" class="form-control" name="linkedin">
    </div>
    <div class="form-group">
      <label for="name">Youtube:</label>
      <input type="text" class="form-control" name="youtube">
    </div>


      <button type="submit"style="float: right;margin-top:2%;border-radius:50%;outline:none;padding-top:2%;padding-bottom:2%;"class="btn btn-success"><i class="fa fa-fw fa-check"aria-hidden="true"></i></button>


    </form>
</div>
</div>
</div>
