<% layout('boilerplate2') %>
<div class="container">

    <div class="row">
  
      <h2 class="text-center" >You can download the pdf files</h2>
      <hr />
  


    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
               
                
                    <a href="<%= course.syllabus %>" download>Download</a>
                
            </div>
        </div>
    </div>
    

    </div>
    </div>